html {
    margin: 0px;
    background-color: snow;
}
body {
    height: 500px;
}
div {
    display: inline-block;
    width: 40%;
    height: 40%;
    background-color: plum;
}
#div0 {
    background-color: rgb(168, 220, 230);
}
span {
    position: fixed;
    background-color: rgb(241, 248, 176);
    border: 1px solid black;
    padding: 2px;
}
button {
    position: fixed;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid purple;
    background-color: rgb(243, 209, 243);
}