body, html {
    height: 100%;
    margin: 0;
	font-family: arial;
	font-size: 85%;
	background: rgb(214, 236, 231);
}
header {
    height: 6%;
    margin-bottom: 20px;
    background-color: rgb(175, 214, 205);
}
header img {
    height: 100%;
    width: auto;
}
body p {
    display: inline;
}
body a {
    display: inline;
    padding: 10px;
    color: rgb(26, 43, 138);
    font-family: 'Ubuntu', sans-serif;
}
a:visited {
    color: rgb(119, 75, 163);
}
div {
    background-color: rgb(231, 247, 243);
    width: fit-content;
    padding: 1%;
    margin: 2%;
}